body {
 
    font-family: Lora;
    padding: 0;
    background-color: #A9C6AA;
  }
  
  @media only screen and (min-width: 800px) { 
    body {
      margin-left: 20%;
      margin-right: 20%;
    }
  }

  header {
    background-color: #A9C6AA;
    color: #151613;
    text-align: center;
    padding: 20px;

  }

  .pic1 {
    width: 45%;
    max-width: 275px;
    border-radius: 50%; 
    border: 4px solid #f2f2f2;
  }

  .pic2 {
    width: 70%;
    max-width: 425px;
    display: block;
    margin: 0 auto;
    border: 3px solid #A9C6AA;
    border-radius: 5px;
    padding: 4px; 
  }

  nav {
    background-color: #F1F2EB;
    padding: 1px;
    border-radius: 5px;
    margin-bottom: 6px;
    font-size: 18.5px;
    text-align: center; /* Keskitetään linkit vaakasuunnassa */
  }
  
  nav ul {
    padding: 0;

  }
  
  nav ul li {
    display: inline-block; /* Asetetaan linkit riviksi */

  }

  
  nav ul li a {
    padding: 5px;
    text-decoration: none;
    color: #151613;

  }

  
  nav ul li a:hover {
    background-color: #F1F2EB;
    text-decoration: underline #A9C6AA;
  }
  


  main {
    padding: 20px;
    background-color: #F1F2EB;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 40px;
  }

  h2 {
    font-size: 20 px;
  }

  h3 {
    font-size: 18.5xp;
    margin-top: 40px;
    margin-bottom: 1px;
  }

  p {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 10px;
}
